.start-screen {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;

  &__favorite-cities {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  &__heading {
    font-size: 2.7rem;
  }

  &__edit {
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    cursor: pointer;
  }
}

.search-input {
  padding: 0.7rem;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  border-radius: 7px;
  margin: 0.5rem 0 0 0;
}

.favorite-city-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 7px;

  &__delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.delete-button-none {
  display: none;
}

.favorite-city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 7px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 25%;
  padding: 1rem;
  width: 100%;
  cursor: pointer;

  &__name__city {
    font-size: 1.5rem;
  }

  &__name__country {
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__condition {
    display: flex;
    align-items: end;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__temperature {
    display: flex;
    justify-content: end;
    font-size: 2.5rem;
    font-weight: 300;
  }

  &__peak-temberatures {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

.delete-icon {
  color: rgb(178, 20, 20);
  padding-right: 0.7rem;
}
