.general-container {
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #0000004d;
  backdrop-filter: blur(35px);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.8rem;
  width: 90%;
  margin-bottom: 2rem;
}

// hourly forecast

.hourly-forecast {
  width: 90%;
  margin-top: 2rem;

  &__heading {
    font-weight: 500;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid rgb(96, 96, 96);
  }

  &__details {
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    overflow-x: scroll;
    margin-top: 0.8rem;
  }
}

.hour-block {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  &__temperature {
    padding-bottom: 0.2rem;
    text-align: center;
  }
  &__hour {
    white-space: nowrap;
  }
}

// daily forecast

.daily-forecast {
  &__heading {
    padding-bottom: 0.8rem;
    border-bottom: 2px solid rgb(96, 96, 96);
  }

  &__day-one {
    border-bottom: 2px solid rgb(96, 96, 96);
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }

  &__day-two {
    border-bottom: 2px solid rgb(96, 96, 96);
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }

  &__day-three {
    padding: 0 0 0.8rem 0;
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}

.daily__day {
  padding-right: 1.6rem;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0 0.8rem 0.8rem 0;
  margin-bottom: 0.5rem;

  &__mini {
    padding: 1.5rem 0 2rem 0;
    margin: 0.8rem 0.8rem 0 0.8rem;
    width: calc(100% - 0.8rem);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

h1 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 0.4rem;
}
